.main_wrapper {
  background-color: darkgrey;
  padding-left: 10vw;
  padding-right: 10vw;
}

.form_container {
  padding-top: 100px;
  width: 80vw;
  overflow: auto;
}
.product_title {
  padding-top: 100px;
}
.chat_title {
  padding-top: 100px;
}

.mail {
  font-weight: bold;
  color: blue;
  display: inline;
}
.date {
  color: brown;
  display: inline;
}
.message {
  font-style: italic;
  color: green;
  display: inline;
}
