<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>cum</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  <form action="/" method="GET">
    <input class="btn btn-primary" type="submit" value="Agregar Producto" />
  </form>
</div>